@charset "UTF-8";
@font-face {
  font-family: "my_font";
  src: local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF, U+2E80-2EFF, U+0020-007F;
}
@font-face {
  font-family: "my_font";
  src: url(../font/Bahnschrift.TTF);
  unicode-range: U+0020-007F;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: "my_font";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  font-family: "my_font";
  outline: none;
}

html {
  font-family: "my_font";
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
}

a:link {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background-color: #050d32;
}
html body {
  min-width: 1100px;
  height: auto;
  overflow: hidden;
}
html body main {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}
html body main .center {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
html body main .center .top {
  width: 100%;
  height: 50%;
  position: relative;
}
html body main .center .top .sparkel {
  width: 1920px;
  height: 486px;
  background: url(../img/sparkel.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  -webkit-animation: keep 3s 0.4s ease-in-out;
          animation: keep 3s 0.4s ease-in-out;
}
html body main .center .top .sparke2 {
  width: 1920px;
  height: 486px;
  background: url(../img/sparkel.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  -webkit-animation: keep 5s 5s ease-in-out infinite;
          animation: keep 5s 5s ease-in-out infinite;
}
html body main .center .top .logo {
  width: 573px;
  height: 127px;
  background: url(../img/LOGO.png) no-repeat center;
  background-size: contain;
  z-index: 100;
  position: absolute;
  top: 56px;
  left: 26px;
}
html body main .center .top .inputBox {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 222px;
  left: 24px;
  z-index: 100;
}
html body main .center .top .inputBox .input {
  width: auto;
}
html body main .center .top .inputBox .input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 23px 10px;
}
html body main .center .top .inputBox .input label p {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 20px 0 0;
}
html body main .center .top .inputBox .input label input {
  width: 264px;
  height: 40px;
  background: #eff7ff;
  border: 3px solid transparent;
  font-size: 25px;
  padding: 0 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}
html body main .center .top .inputBox .input label input:focus {
  border: 3px solid #15c5ff;
}
html body main .center .top .inputBox .input label:last-child {
  margin: 0 20px 0 10px;
}
html body main .center .top .inputBox button {
  width: 189px;
  height: auto;
  background: -webkit-gradient(linear, right top, left top, from(#ff34fd), to(#15c5ff));
  background: linear-gradient(to left, #ff34fd 0%, #15c5ff 100%);
  border-radius: 5px;
  border: 2px solid transparent transparent;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}
html body main .center .top .inputBox button:hover, html body main .center .top .inputBox button:active, html body main .center .top .inputBox button.active {
  background: -webkit-gradient(linear, left top, right top, from(#0825a3), to(#e4007d));
  background: linear-gradient(to right, #0825a3 0%, #e4007d 100%);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
  border: 2px solid #15c5ff;
  -webkit-box-shadow: 2px 2px 15px rgb(0, 0, 0);
          box-shadow: 2px 2px 15px rgb(0, 0, 0);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
html body main .center .top .unionLogo {
  width: 266px;
  height: 47px;
  background: url(../img/union.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 363px;
  left: 107px;
  z-index: 100;
}
html body main .center .bottom {
  width: 100%;
  height: 50%;
  position: relative;
}
html body main .center .bottom .light1 {
  width: 1919px;
  height: 810px;
  background: url(../img/light1_ori.png) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 191px;
  left: -411px;
  opacity: 0;
  -webkit-animation: fadeIn 0.2s ease-in-out forwards;
          animation: fadeIn 0.2s ease-in-out forwards;
}
html body main .center .bottom .light2 {
  width: 1920px;
  height: 1000px;
  background: url(../img/light2.png) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: -410px;
  z-index: 6;
  opacity: 0;
  -webkit-animation: fadeIn2 0.5s 0.2s ease-in-out forwards;
          animation: fadeIn2 0.5s 0.2s ease-in-out forwards;
}
html body main .center .bottom .mainObject {
  width: 1446px;
  height: 849px;
  background: url(../img/mainObject.png) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 64px;
  z-index: 4;
  opacity: 0;
  -webkit-animation: show 0.4s 0.3s ease-in-out forwards;
          animation: show 0.4s 0.3s ease-in-out forwards;
}
html body main .bg {
  width: 100%;
  min-width: 1100px;
  height: 100%;
  background: url(../img/BG.png) no-repeat top center;
  position: absolute;
  top: 0;
  z-index: -999;
}

@-webkit-keyframes fadeIn {
  0% {
    bottom: 494px;
    left: -2000px;
    opacity: 0;
  }
  100% {
    bottom: 191px;
    left: -411px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    bottom: 494px;
    left: -2000px;
    opacity: 0;
  }
  100% {
    bottom: 191px;
    left: -411px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes show {
  0% {
    bottom: -670px;
    left: 1541px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    left: 64px;
    opacity: 1;
  }
}
@keyframes show {
  0% {
    bottom: -670px;
    left: 1541px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    left: 64px;
    opacity: 1;
  }
}
@-webkit-keyframes keep {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes keep {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}